services:
    backend:
        build: ./backend
        ports:
            - "8000:8000"
        volumes:
            - ./backend:/app
    frontend:
        build: ./frontend/src
        ports:
            - "4000:3000"
        volumes:
            - ./frontend/src:/app
        depends_on:
            - backend
